.App-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: var(--max-content-size);
    height: 56vh;
    margin: auto;
}

.App-picture {
    border-radius: 50%;
    border: 3px solid #251f3a;
    box-shadow: 1px 1px 2px #251f3a;
    display: none;
}

.App-content {
    z-index: 1;
    position: relative;
    min-height: 41vh;
    padding-top: 30px;
    top: 56vh;
    /*display: none;*/
}
