.App-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    max-width: var(--max-content-size);
    height: 56vh;
    margin: auto;
}

.App-picture {
    border-radius: 50%;
    border: 3px solid #251f3a;
    box-shadow: 1px 1px 2px #251f3a;
    display: none;
}

.App-content {
    position: relative;
    background: #120034;
    background: linear-gradient(180deg, rgba(237, 39, 126, 0) 0, #120034 10%);
    min-height: 41vh;
    padding-top: 3vh;
    top: 56vh;
    /*display: none;*/
}
